<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
      Declarada aqui, e não só nos manifestos de depuração (issue #112): o
      APK de release é montado só com este manifesto, e sem ela o app não
      alcança o Supabase. Nenhuma dependência a acrescenta sozinha.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
      A atualização pelo próprio aplicativo (issue #113): o MAE baixa o APK
      novo e entrega ao instalador do Android. Na primeira vez, o Android pede
      que ela permita ao MAE instalar aplicativos.
    -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--
      O ota_update declara estas também, e nenhuma serve aqui: o arquivo vai
      para a pasta interna do aplicativo (não para o armazenamento
      compartilhado), a instalação silenciosa é só de aplicativo de sistema, e
      o estado do Wi-Fi não é consultado. Permissão a mais é pergunta a mais
      na tela da instalação. A de leitura entra porque o Gradle a deduz da de
      escrita que o plugin pede, mesmo depois de removida.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>

    <application
        android:label="MAE"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
          Por onde o instalador do Android lê o APK baixado pelo ota_update,
          na pasta interna do aplicativo (res/xml/ota_update_paths.xml).
        -->
        <provider
            android:name="sk.fourq.otaupdate.OtaUpdateFileProvider"
            android:authorities="${applicationId}.ota_update_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ota_update_paths" />
        </provider>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
